.wrapper {
  margin: auto;
  width: 80%;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 29px;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  margin-right: 26px;
  opacity: 0;
  transition: opacity .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
}

.menu__item:last-child {
  margin-right: 0;
}

.title {
  font-family: Roboto, arial, helvetica, sans-serif;
}

.main {
  padding: 0 63% 150px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin-bottom: 0 0 40px 0;
  font: bold 50px/65px pt_serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin-bottom: 0 0 41px 0;
  font: 18px/21px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 14px/16px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity .5s;
}

.main__button:hover {
  opacity: .5;
}

.body {
  margin: 0;
}
